@import "../../../../common/variables";
@import "../../../../common/mixins";

.badges-content {
  display: grid;
  grid-template-columns: 4.2rem 4.2rem 4.2rem 4.2rem 4.2rem;
  grid-template-rows: 4.5rem 3.5rem;
  padding: 2.5rem 2rem 2.5rem 2.3rem;
  justify-items: self-start;
}

@include responsive-below(lg) {
  .badges-content {
    grid-template-columns: 4rem 4rem 4rem 4rem 4rem;
    padding-left: 1.5rem;
    grid-column-gap: .4rem;
  }
}
