@import "../variables";

.app-progress-outer {
  margin: 1rem 0;
  width: $full-width;
  height: .7rem;
  text-align: center;
  background-color: #f4f4f4;
  color: $primary-color;
  border-radius: 2rem;
}

.app-progress-inner {
  min-width: 15%;
  padding: .3rem;
  border-radius: 2rem;
  background-color: $app-primary-color;
}
