<div *ngIf="post" class="post" [ngClass]="{'indent-main-post': !post?.sharedPost, 'indent-sub-post': post?.sharedPost}">
  <div>
    <!--[ngStyle]="{'right': post.sharedPost ? '-13px' : '-33px'}"-->
    <div class="post-badges"
         [class.shared-post-badges]="post.sharedPost">
      <ng-container *ngFor="let badge of post.badges">
        <span class="post-badges-icon">
          <i class="{{badge}}" [style.zoom]=".9"></i>
        </span>
      </ng-container>
    </div>
    <div *ngIf="post?.postImage" class="post-cover-img">
      <img [src]="post.postImage" alt="Post image">
    </div>
    <div [ngStyle]="{'margin-left' : post.sharedPost ? '2rem' : '0', 'margin-right': post.sharedPost ? '2rem' : '0'}">
      <div [ngClass]="{'sharedPostStyle' : post.postUsername !== currentUser?.username }" class="post-header">
        <span *ngIf="post.postUsername !== currentUser?.username" class="subpost-timeline-dot"></span>
        <div class="post-header-meta">
          <a href="#">
            <img class="post-header-meta-icon" [src]="post.userProfileIcon" alt="User icon">
          </a>
          <h3 class="post-header-meta-user">
            <a class="post-header-meta-user-name" href="#">{{post?.postUsername}}</a>
            <span *ngIf="post.sharedPost" class="shared-user">
              shared
              <a *ngIf="post.sharedPost" href="#" class="post-header-meta-user-shared-name shared-user-link">
                {{post?.sharedPost?.postUsername}}
              </a>'s
              <span class="shared-user-link">photo</span>
            </span><br>
            <span class="post-header-meta-user-time">{{post?.timeAgo}} hours ago</span>
          </h3>
        </div>
        <button class="dot-icon" [class.shared-dot-icon]="post?.sharedPost?.postUsername">
          <i class="fas fa-ellipsis-h"></i>
        </button>
      </div>
      <div [ngClass]="{'sharedPostBodyStyle' : post.postUsername !== currentUser?.username }"
           [class.shared-post-body]="post?.sharedPost?.postUsername"
           class="post-body">
        <p>{{post.description}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="post.sharedPost" id="subpost">
    <app-post #subpost [post]="post.sharedPost"></app-post>
  </div>
  <div *ngIf="post.likes" class="post-likes">
    <div class="post-likes-friends">
      <span style="display: flex; align-items: center;">
        <span class="post-likes-friends-heart-icon"><i class="far fa-heart"></i></span>
        <span class="post-likes-friends-heart-count">{{post?.likes?.length}}</span>
      </span>
      <div class="post-likes-friends-icons">
        <ng-container *ngFor="let like of post.likes; let i = index">
          <img *ngIf="i < 5" [src]="like.icon" alt="User icon" id="{{'like1' + (i + 1)}}">
        </ng-container>
      </div>
      <span class="post-likes-friends-names">
        <span class="visible-names">{{getLikeFriendsNames(post) }}</span>{{' and'}}<br>
        <span>{{post?.likes?.length - 2}} more liked this</span>
      </span>
    </div>
    <div class="post-likes-actions">
      <span class="post-likes-actions-comment">
        <i class="far fa-comment-alt"></i>
      </span>
      <span class="post-likes-actions-comment-count">{{post.message}}</span>
      <span class="post-likes-actions-reply" style="">
        <i class="fas fa-retweet"></i>
      </span>
      <span class="post-likes-actions-reply-count" style="">{{post.reply}}</span>
    </div>
  </div>
</div>
